<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gameover.css') }}">
</head>
<body>
    <div class="message">{{ result_message }}</div>
    <button class="restart-button" onclick="window.location.href='/start'">Restart Game</button>

    <!-- Victory jingle audio -->
    <audio id="victory-jingle" src="{{ url_for('music', filename='victory-jingle.mp3') }}" autoplay loop></audio>
</body>
</html>
